<div class="sidebar">
    <header class="sidebar-header">
        <div id="button-back" class="button">
            <img src="icons/Back.svg" alt="Back" class="icon"></img>
        </div>
        
        <div class="sidebar-header__title">Профиль</div>

        <div id="button-edit" class="button">
            <img src="icons/Edit.svg" alt="Edit" class="icon"></img>
        </div>
    </header>

    <div class="horizontal-divider"></div>

    <!-- Просмотр профиля -->
    <main class="profile scrollable">
        {{!-- Аватар --}}
        <section class="avatar-container">
            <div class="avatar-container__user-info">
                <div class="user-info__full-name">{{fullName}}</div>
            </div>

            <div class="avatar-container__square-image">
                <img class="avatar-container__image" src="{{avatarSrc}}" alt="Avatar">
            </div>
        </section>

        {{!-- Детали профиля --}}
        <section class="sidebar-list">
            <div class="detail-item">
                <img class="icon" src="icons/Phone.svg" alt="Phone"></img>
                <div class="sidebar-list__item-info">
                    <div class="detail-item__value">{{phone}}</div>
                    <div class="detail-item__label">Телефон</div>
                </div>
            </div>
            <hr class="divider">
            <div class="detail-item">
                <img class="icon" src="icons/At.svg" alt="At"></img>
                <div class="sidebar-list__item-info">
                    <div class="detail-item__value">@{{username}}</div>
                    <div class="detail-item__label">Имя пользователя</div>
                </div>
            </div>
            <hr class="divider">
            <div class="detail-item">
                <img class="icon" src="icons/At.svg" alt="At"></img>
                <div class="sidebar-list__item-info">
                    <div class="detail-item__value">@{{email}}</div>
                    <div class="detail-item__label">Электронная почта</div>
                </div>
            </div>
            <hr class="divider">
            <div class="detail-item">
                <img class="icon" src="icons/info.svg" alt="Bio"></img>
                <div class="sidebar-list__item-info">
                    <div class="detail-item__value">{{bio}}</div>
                    <div class="detail-item__label">Bio</div>
                </div>
            </div>
            <hr class="divider">
            <div id="button-logout" class="detail-item">
                <img class="icon" src="icons/Logout.svg" alt="Logout">
                <div class="sidebar-list__item-info">
                    <div id="logout-label">Выйти</div>
                </div>
            </div>
        </section>
    </main>
</div>
