<div id="auth-body" class="signupForm">
    <div id="main-auth">
        <div class="main-auth__logo">
            ./Keftegr@m
        </div>
        <form method="post" class="auth-form">
            {{#each fields}}
                <div class="auth-form__input-wrapper">
                <input class="auth-form__input" type="{{this.type}}" id="{{this.id}}" name="{{this.name}}" placeholder="{{this.placeholder}}">
                </div>
            {{/each}}
            <button type="submit" class="auth-form__button">{{buttonText}}</button>
        </form>
        <div class="register-link">
            <span>Уже есть аккаунт?
                <a class="register-link__link" id="loginLink">{{redirectText}}</a>
            </span>
        </div>
    </div>
</div>