<header class="sidebar__header">
    <button class="sidebar__menu">
        <img src="../../static/img/menuIcon.svg" alt="Menu" class="sidebar__icon" />
    </button>
    
    <div class="sidebar__search-wrapper">
        <img src="../../static/img/searchIcon.svg" alt="Search" class="sidebar__icon" />
        <input type="text" class="sidebar__search" placeholder="Поиск чата">
    </div>
</header>

<div class="sidebar__divider"></div>

<section class="sidebar__chat-list">
    {{#each chats}}
    <div class="chat-item {{#if active}}chat-item--active{{/if}}">
        <img src="{{avatar}}" alt="User avatar" class="chat-item__avatar" />
        <div class="chat-item__info">
            <h3 class="chat-item__name">{{title}}</h3>
            <p class="chat-item__preview">{{description}}</p>
        </div>
        <div class="chat-item__meta">
            <time class="chat-item__time">{{time}}11:00</time>
            {{#if unreadCount}}
            <div class="chat-item__flag">
                <span class="chat-item__unread-count">{{unreadCount}}</span>
            </div>
            {{/if}}
        </div>
    </div>
    {{/each}}
    <button class="sidebar__new-chat-button">
        <img src="../../static/img/addIcon.svg"
            alt="New chat" class="sidebar__new-chat-icon" />
    </button>
</section>
