<div class="container">
    <div class="sidebar">
        <header class="sidebar-header">
            <div id="button-back" class="button">
                <img src="icons/Back.svg" alt="Back" class="icon"></img>
            </div>
            
            <div class="sidebar-header__title">Отзывы пользователей</div>
        </header>

        <div class="horizontal-divider"></div>

        <div class="sidebar-list scrollable">
            {{#each reviews}}
                <div class="review sidebar-list__item">
                    <img src="{{this.avatarSrc}}" alt="User avatar" class="avatar">
                    
                    <div class="review-info">
                        <div><b>{{this.username}}</b></div>
                        <div><b>Оценка:</b> {{this.rating}}</div>

                        {{#if hasFeedback}}
                            <div class="comment-text"><b>Комментарий:</b> {{this.feedback}}</div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    
    <div class="container__divider"></div>

    <div class="statistics-container">
        <select id="selectQuestion" style="display: none;">
            {{#each questions}}
                {{#if this.selected}}
                    <option value="{{this.id}}" selected>{{this.text}}</option>
                {{else}}
                    <option value="{{this.id}}">{{this.text}}</option>
                {{/if}}
                {{!-- <option value="2">Второй вопрос</option>
                <option value="3">Третий вопрос</option> --}}
            {{/each}}
        </select>

        <div class="average-rate">
            Средний балл: {{averageRating}}
        </div>

        {{!-- <table class="statistics-table">
            <thead>
                <tr>
                    <th scope="col">Оценка</th>
                    <th scope="col">Количество</th>
                </tr>
            </thead>
            <tbody>
                {{#each rates}}
                    <tr>
                        <th scope="row">{{this.rate}}</th>
                        <td>{{this.count}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table> --}}

        <canvas id="histogram" width="600" height="400"></canvas>
    </div>
</div>
